@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  background-color: #FEAFC3;
  font-family: 'Inter', sans-serif;
  position: relative;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}




/*nav start*/
.navigation {
  height: 104px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 13px;
}

.navigation-link {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 20px;
  color: #2D3440;
}

.navigation-list.left {
  gap: 32px;
}

.navigation-link.down {
  display: flex;
  gap: 6px;
}

.navigation-link.phone {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.navigation-link.active {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  padding: 6px 16px
}

.navigation-link.serch {
  padding: 8px;
}

.navigation-link.active:hover {
  color: #FCFCFC;
  background: #FF4A78;
}


/*nav end*/
/*slider start*/


.slider {
  margin-top: 21px;
  margin-bottom: 70px;
}

.slider-inner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.slider-content {
  padding-left: 70px;
}

.slider-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
}

.slider-text {
  margin-bottom: 59px;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
}

.button {
  padding: 12px 32px;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}





/*галерея обработка*/


.slider-next {
  transform: rotate(180deg);
}

.slider-inner {
  display: flex;
  gap: 5px;
}

.slider-wrapper {
  position: relative;
  display: flex;
}
.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}




.slider-button {
  width: 39px;
  height: 39px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow-slider.svg");
}

.slider-btn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

/*галерея обработка*/




.slider-pagination-button {
  opacity: 0.3;
  background-color: #FCFCFC;
  border-radius: 100px;
  border: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.slider-pagination-current{
opacity: 1;
}
/*скрытые продукты*/

.galliry-hidden-product {
  display: none;
}





/*скрытые продукты*/

.social-wrapp {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.slider-pagination-list {
  display: flex;
  align-items: center;
  gap: 11px;
  flex-wrap: wrap;
  justify-content: start;
}

.gallery-social-link {
  display: block;
  height: 24px;
  width: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

.gallery-social-tw {
  background-image: url("../img/icon-img/telegram.svg");
}

.gallery-social-vk {
  background-image: url("../img/icon-img/vk.svg");
}

.gallery-social-yut {
  background-image: url("../img/icon-img/youtube.svg");
}



/*baner start*/
.banner {
  margin-bottom: 80px;
}
.banner-title {
  margin-bottom: 55px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}
.baner-inner {
  display: flex;
  gap: 35px 35px;
  flex-wrap: wrap;
}

.baner-box {
  display: flex;
  position: relative;
  gap: 8px;
  padding-left: 36px;
  background: #FF7799;
  border-radius: 16px;
}



.baner-subtitle {
  margin-bottom: 28px;
  padding-top: 36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;

}

.baner-text {
  margin-bottom: 41px;
  line-height: 22px;
  color: #2D3440;
}

/*baner end*/
/*product card start*/
.product-title {
  margin-bottom: 107px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
}

.product-cards-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-gap: 91px 30px;
}

.product-card-box {
  position: relative;
  background: #FCFCFC;
  border-radius: 8px;
  padding-top: 130px;
  padding-bottom: 24px;
  text-align: center;
}
.product-subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}
.product-text {
  margin-bottom: 17px;
  line-height: 22px;
  color: #565C66;
}
.inner-prais {
  display: flex;
  justify-content: center;
  gap: 65px;
  align-items: center;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.btn-icon-basket {
  color: #FCFCFC;
  background: #FF2F64;
  border-radius: 26px;
  padding: 8px 11px;
  border: none;
}

.product-img-card {
  display: flex;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
  position: absolute;
  margin-top: -185px;/*замени на тренслейт*/
  left: 0;
  right: 0;
  justify-content: center;
}

/*product card end*/

/*description start*/
.description {
  margin: 79px 0 80px 0;
}

.wrapper-desc {
  background-image: url('../img/desc-bg.png');
  background-repeat: no-repeat;
  padding: 24px;
  background-size: cover
}
.box-description {
  padding-top: 56px;
  padding-left: 40px;
  padding-bottom: 55px;
  background: #FFFFFF;
  border-radius: 16px;
}
.desc-title {
  margin-bottom: 42px;
  padding-right: 34px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
}

.desc-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 25px 1px;
  flex-wrap: wrap;
}




.desc-item {
  padding-top: 12px;
  line-height: 22px;
  color: #565C66;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: left;
  top: 0;
}

.one-item {
  display: block;
  padding-left: 65px;
  background-image: url("../img/icon-img/desc-one.svg");
}

.two-item {
  display: block;
  padding-left: 65px;
  background-image: url("../img/icon-img/desc-two.svg");
}

.third-item {
  display: block;
  padding-left: 65px;
  background-image: url("../img/icon-img/desc-third.svg");
}

.four-item {
  display: block;
  padding-left: 65px;
  background-image: url("../img/icon-img/desc-four.svg");
}


/*description end*/
/*subscribe start*/
.subscribe {
  margin-bottom:83px;
}

.btn-submit-subscribe {
  font-weight: 700;
  padding: 10px 37px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;

}

.subscribe-inner {
  display: flex;
  gap: 25px;

}
.subscrib-list {
  border-radius: 16px;
}



.bg-img {
  background-repeat: no-repeat;
  background-image: url("../img/subscribe-bg.png");
  background-size: cover;
  border-radius: 16px;
  padding: 6px;
  width: 580px;
}
.left-blog {
  background-repeat: no-repeat;
  background-image: url("../img/news-blog-bg.png");
  background-size: cover;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 67px;
}
.left-blog {
  width: 570px;
}

.right-blog {
  background: #FFFFFF;
  padding: 28px;
  background-size: cover;
}

.subscription-blog {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.subscription-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}
.subscribe-text{
  margin-bottom: 50px;
}
.input-subscribe{
  width: 332px;
}
.subscribe-wrapp{
  display: flex;
  gap: 14px;
}



/*subscribe end*/
/*delivery start*/
.delivery {
  margin-bottom: 80px;
}

.delivery-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/delivery-inner.png");
  border-radius: 16px;
  padding: 64px 64px 64px 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.delivery-text {
  line-height: 22px;
  color: #565C66;
}


/*appoitment start*/
.form-list {
  margin-bottom: 40px;
}

.appoitment {
  width: 420px;
  padding: 40px 40px 42px 40px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.appoitment-text {
  margin-bottom: 30px;
  line-height: 22px;
  color: #565C66;
}
.form-inner {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 15px;
}

.appoitment-lable {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.appoitment-input {
  padding: 14px 16px;
}



.appoitment-input.address {
  width: 385px;
}

.appoitment-input.date {
  width: 80px;
}

.appoitment-input.phone {
  width: 250px;
}

.btn-form {
  display: block;
  margin: 0 auto;
  color: #FCFCFC;
  background: #FF2F64;
  padding: 10px 37px;
}

/*appoitment end*/
/*delivery end*/

/*contacts start*/
.contacts {
  margin-bottom: 48px;
}

.contacts-inner {
  padding: 63px;
  border-radius: 16px;
  background-image: url("../img/contacts-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.address-contacts {
  font-style: normal;
  padding: 40px;
  width: 265px;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.addres-location {
  margin-bottom: 12px;
  line-height: 22px;
}

.address-title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.address-subtitle {
  margin-bottom: 12px;
  line-height: 22px;
  color: #565C66;
}

.phone-contacnts {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.time-works {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.btn-form-addres {
  display: block;
  width: 100%;
  color: #FCFCFC;
  background: #FF2F64;
}

/*contacts start*/

/*main end*/
/*footer start*/
.information-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-left: 28px;
  gap: 5px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.information-link {
  padding-left: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.link-herd {
  background-image: url("../img/icon-img/heart-fill.svg");
  display: block;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;

}

.academy-list {
  display: grid;
  gap: 35px;
}

.academy-link-logo {

  height: 26px;
  width: 93px;
  background-repeat: no-repeat;
}

.footer-logo {
  position: absolute;
  background-image: url("../img/icon-img/logo_htmlacademy.svg");
  background-position: bottom;
  padding-left: 50px;
}

.academy-link-active {
  border-bottom: 1px solid #2D3440;
}

.academy-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

/*footer end*/



/*card start*/
/*choice start*/
.choice {
  margin-top: 32px;
  margin-bottom: 95px;
}

.choice-item {
  display: flex;
  align-items: center;
}

.choice-list {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.choice-active {
  position: absolute;
  border-bottom: 1px solid #2D3440;

}

.choice-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
}

.choice-title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.sorting {
  display: flex;
  margin-bottom: 16px;
  gap: 90px;
}

.box-input-choice {
  display: flex;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  gap: 10px;
  padding: 9px 24px;
}

.input-choice-pruduct {
  display: flex;
  gap: 16px;
  align-items: center;
}

.сommon-parameters {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.sorting-choice {
  margin-bottom: 8px;
}

.btn-choice {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  padding: 8px 53px;
}

.slider-inner-product {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 335px;
}

.cards-slider {
  margin-top: 67px;
  margin-bottom: 91px;
}

.btn-more-cards {
  display: flex;
  justify-content: end;

}

.cards-list {
  display: flex;
  gap: 15px;
  right: 10px;
  align-items: center;

}

/*choice end*/
/*card end*/




/*popap start*/
/*popap-basket-clear start*/
.popap-basket-clear {
  margin-bottom: 100px;
  /*удалить при добавлении в верстку*/
  width: 288px;
  padding: 48px 0;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.popap-basket-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #2D3440;
}

/*popap-search start*/
.popap-search {
  padding: 23px 9px;
  background: #FCFCFC;
  border-radius: 4px;
  filter: drop-shadow(0 8px 16px rgba(45, 52, 64, 0.12));
  width: 340px;
}

.popap-search-input {
  line-height: 20px;
  padding: 16px 20px;
  width: 324px;
  height: 48px;
}

/*popap-search end*/

/*popap-basket-clear end*/
/*popap end*/
